name: Hello world
on: workflow_dispatch
jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Hello Step
        run: | 
        echo "welcom to github action project demo"
        echo "welcome to the Devops lab"
        
